blinker==1.9.0
camel-converter==5.1.1
click==8.5.0
colorama==0.4.6
coverage==7.16.1
Deprecated==1.3.1
Flask==3.1.3
Flask-Limiter==4.1.1
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
limits==5.8.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
ordered-set==4.1.0
packaging==26.3
pluggy==1.6.0
py-healthcheck==1.10.1
Pygments==2.19.2
pytest==9.1.1
pytest-cov==7.1.0
python-dotenv==1.2.3
redis==8.1.0
rich==13.9.4
ruff==0.16.9
six==1.17.0
typing_extensions==4.15.0
waitress==3.0.2
Werkzeug==3.1.8
wrapt==2.1.2
